
.achievements{
  padding:6rem 0;
}

.achievements h5{
  text-align:center;
  color:#888;
  font-size:20px;
}

.achievements h2{
  text-align:center;
  color:#4db4ff;
  font-size:48px;
  margin-bottom:4rem;
}

.achievements-container{
  width:85%;
  margin:auto;

  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:2rem;
}

.achievement-card{
  background:#112240;
  border-radius:20px;
  overflow:hidden;
  text-align:center;

  border:1px solid transparent;
  transition:.3s;
}

.achievement-card:hover{
  transform:translateY(-10px);
  border-color:#4db4ff;
  box-shadow:0 10px 30px rgba(77,180,255,.25);
}

.achievement-card img{
  width:100%;
  height:220px;
  object-fit:cover;
}

.achievement-card h3{
  color:white;
  margin:20px 15px 10px;
}

.achievement-card p{
  color:#ccc;
  margin:0 20px 20px;
  min-height:70px;
  line-height:1.6;
}

.achievement-btn{
  display:inline-block;

  margin-bottom:25px;
  padding:12px 22px;

  background:#4db4ff;
  color:black;

  border-radius:10px;
  text-decoration:none;
  font-weight:600;

  transition:.3s;
}

.achievement-btn:hover{
  background:white;
}

/* TABLET */

@media(max-width:1024px){

  .achievements-container{
    width:90%;
    grid-template-columns:1fr;
  }

}

/* MOBILE */

@media(max-width:600px){

  .achievements{
    padding:4rem 1rem;
  }

  .achievements h2{
    font-size:34px;
    margin-bottom:2rem;
  }

  .achievements-container{
    width:100%;
    gap:1.5rem;
  }

  .achievement-card img{
    height:180px;
  }

  .achievement-card h3{
    font-size:18px;
    margin:15px 10px 10px;
  }

  .achievement-card p{
    font-size:14px;
    min-height:auto;
    margin:0 15px 15px;
  }

  .achievement-btn{
    width:85%;
    text-align:center;
    margin-bottom:20px;
  }

}

