
.experience{
  padding:6rem 0;
}

.experience h5{
  text-align:center;
  color:#888;
}

.experience h2{
  text-align:center;
  color:#4db4ff;
  font-size:48px;
  margin-bottom:5rem;
}

.timeline{
  position:relative;
  width:90%;
  margin:auto;
}

.timeline::after{
  content:"";
  position:absolute;
  width:4px;
  background:#ffffff;

  top:0;
  bottom:0;

  left:50%;
  transform:translateX(-50%);

  z-index:1;
}

.timeline-item{
  padding:20px 40px;
  position:relative;
  width:50%;
  margin-bottom:50px;
  z-index:2;
}

.left{
  left:0;
}

.right{
  left:50%;
}

.timeline-content{
  background:#3da9fc;
  padding:25px;
  border-radius:15px;
  color:white;

  border:1px solid transparent;

  transition:all .35s ease;
  cursor:pointer;
}

.timeline-content:hover{
  transform:translateY(-8px);
  box-shadow:0 15px 35px rgba(61,169,252,.35);
  border:1px solid white;
}

.timeline-content h3{
  margin-bottom:8px;
}

.timeline-content h4{
  margin-bottom:15px;
}

.timeline-content p{
  line-height:1.8;
  margin-bottom:20px;
}

.timeline-icon{
  position:absolute;
  top:20px;

  width:80px;
  height:80px;

  background:white;
  border-radius:50%;
  overflow:hidden;

  border:4px solid #4db4ff;

  z-index:3;
}

.left .timeline-icon{
  right:-40px;
}

.right .timeline-icon{
  left:-40px;
}

.timeline-icon img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.timeline-date{
  position:absolute;
  top:40px;

  color:white;
  font-size:18px;
  font-weight:600;

  z-index:4;
}

.left .timeline-date{
  right:-180px;
}

.right .timeline-date{
  left:-180px;
}

.exp-btn{
  display:inline-block;
  padding:12px 22px;

  background:white;
  color:black;

  border-radius:10px;
  text-decoration:none;
  font-weight:600;

  transition:.3s;
}

.exp-btn:hover{
  background:#dbeafe;
}

/* TABLET */

@media(max-width:1024px){

  .timeline::after{
    left:30px;
    transform:none;
  }

  .timeline-item{
    width:100%;
    left:0;
    padding-left:80px;
  }

  .timeline-icon{
    left:-10px !important;
  }

  .timeline-date{
    position:relative;
    left:0 !important;
    right:0 !important;
    top:0;
    margin-bottom:10px;
  }
}

/* MOBILE */

@media(max-width:600px){

  .experience{
    padding:4rem 1rem;
  }

  .experience h2{
    font-size:34px;
    margin-bottom:2rem;
  }

  .timeline{
    width:100%;
  }

  .timeline::after{
    left:20px;
  }

  .timeline-item{
    width:100%;
    padding-left:60px;
    padding-right:0;
    margin-bottom:30px;
  }

  .timeline-icon{
    width:50px;
    height:50px;
    left:-5px !important;
    top:10px;
  }

  .timeline-content{
    padding:18px;
  }

  .timeline-content h3{
    font-size:18px;
  }

  .timeline-content h4{
    font-size:15px;
  }

  .timeline-content p{
    font-size:14px;
    line-height:1.6;
  }

  .timeline-date{
    font-size:14px;
    margin-bottom:8px;
  }

  .exp-btn{
    width:100%;
    text-align:center;
    padding:10px;
    font-size:14px;
  }

}

