*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Segoe UI',sans-serif;
}

html{
  scroll-behavior:smooth;
}

body{
  background:#050816;
  color:white;
  overflow-x:hidden;
}

#root{
  width:100%;
}

section{
  padding:100px 8%;
}

a{
  text-decoration:none;
}

.main-bg{
  position:fixed;
  inset:0;
  z-index:-1;
  background:
  radial-gradient(circle at 20% 20%, rgba(59,130,246,.25), transparent 25%),
  radial-gradient(circle at 80% 30%, rgba(139,92,246,.25), transparent 25%),
  radial-gradient(circle at 50% 80%, rgba(14,165,233,.2), transparent 25%),
  #050816;
}